
#controls {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 0.1em;
}
    #previous, #next {
        cursor: hand; cursor: pointer;
        color: rgba( 240, 240, 240, 0.7);
        width: 1em;
        height: 1em;
        line-height: 1em;
        float: left;
        font-weight: 900;
        border: 1pt solid black;
        padding: .5em;
        border-radius: 50%;
        background: rgba(2,2,2,0.2);
        text-shadow: 0px 0px 4pt rgba(2,2,2,0.5);
        text-shadow: 0px 0px -2pt white;
    }
    #previous:after {
        content: "◀";
        margin-right:0.3em;
    }
    #next:after {
        content: "▶";
        margin-left:0.3em;
    }

.slideshow {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: none;
	text-align: center;
	clear: both;
    white-space: nowrap;
    background: black;
    color: white;
    overflow: hidden;
    font-size: 32pt;
}

.slideshow .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    opacity: 0;
	display: table;
    background: purple;
    color: white;
}

.slideshow .slide > *:first-child {
    white-space: normal;
    vertical-align: middle;
    width: 100%;
    display: inline-block;
    display: table-cell;
    position: absolute;
    width: 800px;
    margin-left: -400px;
    left: 50%;
}

.slideshow .slide img {
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4);
	box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4);
	vertical-align: middle;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}

.slideshow .slide small {
	font-size: 50%;
}

.slideshow h1 {
    font-size: 24pt;
}

.slideshow fieldset {
    margin: 2em;
    font-family: Schoolbook, Georgia, "Times New Roman", serif;
    text-align: left;
}
.slideshow fieldset p {
    margin-top: .3em;
    margin-bottom: .3em;
}

.slideshow fieldset input[type='text'] {
    font-family: fantasy;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #eee;
    fonto-size: 32pt;
}





