
.slideshow {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: none;
	text-align: center;
	clear: both;
    white-space: nowrap;
    background: black;
    color: white;
    overflow: hidden;
    font-size: 32pt;
}

.slideshow #controls {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 0.1em;
}
    .slideshow #controls .previous,
    .slideshow #controls .next {
        font-size: 24pt;
        font-weight: 900;
        cursor: hand; cursor: pointer;
        width: 1em;
        height: 1em;
        line-height: 1em;
        float: left;
        border: 1pt solid rgba(2,2,2,0.4);
        padding: .5em;
        border-radius: 50%;
        color: rgba( 255, 255, 255, 0.9);
        background: rgba(2,2,2,0.2);
        text-shadow:    0px 0px 4pt rgba(2,2,2,0.9);
    }
    .slideshow #controls .previous:hover,
    .slideshow #controls .next:hover {
        color: rgba( 255, 255, 255, 1);
        background: rgba(2,2,2, .7);
    }
    .slideshow #controls .previous:after {
        content: "◀";
        margin-right:0.3em;
    }
    .slideshow #controls .next:after {
        content: "▶";
        margin-left:0.3em;
    }

.slideshow .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    opacity: 0;
	display: table;
    background: purple;
    color: white;
}

.slideshow .slide > *:first-child {
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
    display: table-cell;

    width: 80%;
    margin-left: -40%;
}

.slideshow .slide img {
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4);
	box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4);
	vertical-align: middle;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}

.slideshow .slide small {
	font-size: 50%;
}

.slideshow h1 {
    font-size: 24pt;
}

.slideshow fieldset {
    margin: 2em;
    font-family: Schoolbook, Georgia, "Times New Roman", serif;
    text-align: left;
}
.slideshow fieldset p {
    margin-top: .3em;
    margin-bottom: .3em;
}

.slideshow fieldset input[type='text'] {
    font-family: fantasy;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #eee;
    fonto-size: 32pt;
}

.progress-bar {
    display: block;
    position: absolute;
    top: .3em;
    right: .3em;
    width: 33%;
    height: 16pt;
    line-height: 10pt;
    padding: 4pt;
    border: 1px solid #666;
    background: rgba(100,100,100,.5);
    text-align: left;
    border-radius: 4pt;
}

.progress-bar > * {
    display: inline-block;
    position: relative;
    width: 0%;
    height: 10pt;
    border: 1px solid #333;
    background: rgba(200,200,200,.9);
    border-radius: 2pt;
}


